<div id="footer" class="navbar navbar-default navbar-sticky-bottom">
  <p class="navbar-text text-center">© 2017 - Site Built By <a href="https://vk.com/electr_on" target="_blank" >Skorodumov Eugene</a>
      </p>
</div>