<div class="navbar navbar-default navbar-sticky-bottom" id="footer">
  <div class="raw">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <p class="navbar-text">© 2017 - Site Built By <a href="https://vk.com/electr_on" target="_blank" >Skorodumov Eugene</a>
      </p>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
<script>
  $(document).ready(function(){
  var p = window.location.pathname;
  // add active class to current link && open accordion
  var x = $('a[href="' + p + '"]');
  if (x.parent().prop('tagName') == "H4")
    {
      x.parent().parent().addClass("active")
    }
  else
    {
      x.parent().addClass("active");
      x.parent().parent().parent().addClass("in");
    }
  });
</script>