<div class="jumbotron">
  <h1 class="text-center text-focus-in"><%= t 'header.name' %></h1>      
  <p class="text-center"><%= t 'header.text' %></p>
	<img src="/img/phone.ico" class="wobble-hor-bottom phone_img">
</div>